# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Testes e ferramentas
.pytest_cache/
.coverage
htmlcov/

# IDEs / editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
